<div>
  <div>
    <h2>Graph</h2>
    <chart title="PID: distance" 
    axisx='{
      "title": "temps (ms)",
      "titleFontSize": 10,
      "labelFontSize": 10,
      "titleFontWeight": "bold"
    }'

    axisy='{
      "title": "distance",
      "titleFontSize": 10,
      "labelFontSize": 10,
      "titleFontWeight": "bold"
    }'

    axisy2='{
      "title": "sortie",
      "titleFontSize": 10,
      "labelFontSize": 10,
      "titleFontWeight": "bold",
      "minimum": -2000,
      "maximum": 2000
    }'

    series='
    [
      {
        "name": "Consigne", 
        "source": "dist_set_point", 
        "type": "line"
      },
      {
        "name": "Retour", 
        "source": "dist_feedback", 
        "type": "line"
      },
      {
        "name": "Proportionnel", 
        "source": "dist_p", 
        "type": "line",
        "axisYType": "secondary"
      },
      {
        "name": "Derive", 
        "source": "dist_d", 
        "type": "line",
        "axisYType": "secondary"
      },
      {
        "name": "Sortie", 
        "source": "dist_output", 
        "type": "line",
        "axisYType": "secondary"
      }
    ]' 
    ></chart>
  </div>
  <div>
    <p>az</p>

    <chart title="PID: angle" 
    axisx='{
      "title": "temps (ms)",
      "titleFontSize": 10,
      "labelFontSize": 10,
      "titleFontWeight": "bold"
    }'

    axisy='{
      "title": "angle",
      "titleFontSize": 10,
      "labelFontSize": 10,
      "titleFontWeight": "bold"
    }'

    axisy2='{
      "title": "sortie",
      "titleFontSize": 10,
      "labelFontSize": 10,
      "titleFontWeight": "bold",
      "minimum": -2000,
      "maximum": 2000
    }'

    series='
    [
      {
        "name": "Consigne", 
        "source": "angu_set_point", 
        "type": "line"
      },
      {
        "name": "Retour", 
        "source": "angu_feedback", 
        "type": "line"
      },
      {
        "name": "Proportionnel", 
        "source": "angu_a", 
        "type": "line",
        "axisYType": "secondary"
      },
      {
        "name": "Derive", 
        "source": "angu_d", 
        "type": "line",
        "axisYType": "secondary"
      },
      {
        "name": "Sortie", 
        "source": "angu_output", 
        "type": "line",
        "axisYType": "secondary"
      }
    ]' 
    ></chart>

  </div>
</div>
