<h2>Commandes</h2>
<div class="commandes">
  <div class="inline">
    <fieldset>
      <legend>Rampes</legend>
      <ul>
        <li><label>Vmin (d) :</label><input ng-model="commande.rampes.vmax_d"/></li>
        <li><label>Vmax (d) :</label><input ng-model="commande.rampes.amax_d"/></li>
        <li><label>Vmin (a) :</label><input ng-model="commande.rampes.vmax_a"/></li>
        <li><label>Vmax (a) :</label><input ng-model="commande.rampes.amax_a"/></li>
      </ul>
    </fieldset>

    <fieldset>
      <legend>Moteurs</legend>
      <ul>
        <li><label>coef (g) :</label><input ng-model="commande.moteurs.coef_gauche"></input></li>
        <li><label>coef (d) :</label><input ng-model="commande.moteurs.coef_droit"></input></li>
        <li><label>min (g) :</label><input ng-model="commande.moteurs.min_gauche"></input></li>
        <li><label>min (d) :</label><input ng-model="commande.moteurs.min_droit"></input></li>
      </ul>
    </fieldset>

    <fieldset>
      <legend>Position</legend>
      <ul>
        <li><label>coef (g) :</label><input ng-model="commande.position.coef_droit"></input></li>
        <li><label>coef (d) :</label><input ng-model="commande.position.coef_gauche"></input></li>
        <li><label>tick/cm :</label><input ng-model="commande.position.tick_cm"></input></li>
        <li><label>tick/deg :</label><input ng-model="commande.position.tick_deg"></input></li>
      </ul>
    </fieldset>
  </div>
  <div class="inline">
    <fieldset>
      <legend>PID</legend>
      <ul>
        <li><label>Kp (d) :</label><input ng-model="commande.PID.kp_d"></input></li>
        <li><label>Kd (d) :</label><input ng-model="commande.PID.kd_d"></input></li>
        <li><label>Alpha (d) :</label><input ng-model="commande.PID.alpha_d"></input></li>
        <li><label>Ki (d) :</label><input ng-model="commande.PID.ki_d"></input></li>
        <li><label>Imax (d) :</label><input ng-model="commande.PID.imax_d"></input></li>
        <li><label>Omax (d) :</label><input ng-model="commande.PID.omax_d"></input></li>
        <li><label>Kp (a) :</label><input ng-model="commande.PID.kp_a"></input></li>
        <li><label>Kd (a) :</label><input ng-model="commande.PID.kd_a"></input></li>
        <li><label>Alpha (a) :</label><input ng-model="commande.PID.alpha_a"></input></li>
        <li><label>Ki (a) :</label><input ng-model="commande.PID.ki_a"></input></li>
        <li><label>Imax (a) :</label><input ng-model="commande.PID.imax_a"></input></li>
        <li><label>Omax (a):</label><input ng-model="commande.PID.omax_a"></input></li>
      </ul>
    </fieldset>
  </div>
  <button ng-click="appliquer()" class="appliquer">Appliquer</button>
  <button ng-click="lire()" >Lire</button>
</div>



<div class="commandes">

<h2>Asservissement</h2>

<div class="inline">
  <h3>Legende</h3>
  <ul>
    <li><span class="brute"></span> Consigne</li>
    <li><span class="filtre"></span> Filtre</li>
    <li><span class="retour"></span> Retour</li>
    <li><span class="sortie"></span> Sortie</li>
  </ul>
</div>

<div class="inline">
  <span>Démarrer / Arreter l'acquisition : </span><button ng-click="startStopAsserv()" ng-class="{'icon-start':!streamAsservOn,'icon-pause':streamAsservOn}" class="image"></button>

</div>
<div>
  <button ng-click="clearGraph()" >Clear</button>
  <input ng-model="autoClear" type="checkbox"/>Clear auto toutes les 10s
</div>


</div>

<div class="largegraph" id="distance">
<h3>Distance</h3>
  <graph ng-model="stream.distance"></graph>
</div>

<div class="largegraph" id="angle">
<h3>Angle</h3>
<graph ng-model="stream.angle"></graph>
</div>

<div class="largegraph" id="moteurG">
<h3>Moteur G</h3>
<graph simple ng-model="stream.moteurG"></graph>
</div>

<div class="largegraph" id="moteurD">
<h3>Moteur D</h3>
<graph simple ng-model="stream.moteurD"></graph>
</div>

<div class="clear"></div>
